<div class="container">
  <section id="about" class="section">
    <h1>Apie mus</h1>
    <h3>UAB "Res vera" - viena seniausių kompiuterių paslaugų bendrovių Kaune.</h3>
    <h3>Jau <strong>25</strong> metus dirbame Jums.</h3>
    <h4>Pagrindinės veiklos kryptys:</h4>
    <ul>
      <li class="list-item">IT paslaugos: kompiuterinės įrangos priežiūra, remontas, pardavimas,
        instaliavimas, konfigūravimas IT ūkio auditas, optimizavimas
      </li>
      <li class="list-item">Biuro paslaugų centras: kopijavimas, spausdinimas, skenavimas, interneto kavinė</li>
      <li class="list-item">Spaudos darbai: skaitmeninė ir ofsetinė spauda, maketavimo darbai</li>
    </ul>
    <p>
      Jums mielai padės ir Jus pakonsultuos UAB "Res vera" darbuotojai.
    </p>
  </section>
  <section id="work" class="section">
    <h1>Paslaugos</h1>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Biuro paslaugų, kopijavimo, spausdinimo centras</th>
        <th scope="col">Kaina</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Kopijavimas, A4</td>
        <td>0,03 – 0,06 EUR</td>
      </tr>
      <tr>
        <td>Spausdinimas, A4</td>
        <td>0,03 – 0,06 EUR</td>
      </tr>
      <tr>
        <td>Spalvotas spausdinimas, kopijavimas A4</td>
        <td>0,15 – 0,29 EUR</td>
      </tr>
      <tr>
        <td>Spalvotas spausdinimas, kopijavimas A3</td>
        <td>0,29 – 0,90 EUR</td>
      </tr>
      <tr>
        <td>Skanavimas, A4</td>
        <td>0,12 – 0,29 EUR</td>
      </tr>
      <tr>
        <td>Skanavimas, A3</td>
        <td>0,23 – 0,58 EUR</td>
      </tr>
      <tr>
        <td>Teksto surinkimas, maketavimas, individualus darbas</td>
        <td>15,00 EUR/val.</td>
      </tr>
      <tr>
        <td>Laminavimas, A6-A3</td>
        <td>0,43 – 1,45 EUR</td>
      </tr>
      <tr>
        <td>Faksogramų siuntimas 1 min.</td>
        <td>priklauso nuo šalies</td>
      </tr>
      <tr>
        <td>Faksogramų priėmimas 1 psl.</td>
        <td>0,50 EUR</td>
      </tr>

      </tbody>
    </table>
  </section>
  <section id="contacts" class="section">
    <h1>Kontaktai</h1>
    <div class="ml-2 row">
      <ul class="contacts-list col">
        <li class="contact-info"><strong>UAB "Res vera"</strong></li>
        <li class="contact-info">Adresas: <a target="_blank"
                                    href="https://www.google.com/maps/place/Res+Vera/@54.8937212,23.9244404,15z/data=!4m5!3m4!1s0x0:0xfd4e801c534255dd!8m2!3d54.8937212!4d23.9244404">Miško
          g. 2 / Vytauto g. 63, Kaunas</a></li>
        <li class="contact-info">Tel.: <a href="tel:+370 37 323770">+370 37 323770</a></li>
        <li class="contact-info">Faksas: <a href="tel:+370 37 323770">+370 37 323770</a></li>
        <li class="contact-info">El.paštas: <a target="_top" href="mailto:info@resvera.lt">info@resvera.lt</a></li>
        <li class="contact-info">Darbo laikas:</li>
        <li class="contact-info">I-V 9.00-18.00</li>
        <li class="contact-info">VI 12.00-16.00</li>
      </ul>
      <div class="col">
        <a target="_blank" href="https://www.google.com/maps/place/Res+Vera/@54.8937212,23.9244404,15z/data=!4m5!3m4!1s0x0:0xfd4e801c534255dd!8m2!3d54.8937212!4d23.9244404"><img src="../../assets/images/resvera-map.png" height="510" width="716"/></a></div>
    </div>


  </section>
</div>
